:root {
    --main-color: #6d4aff;
    --main-color-rgb: 109, 74, 255;
    --accent-color: #b086ff;
    --accent-color-rgb: 176, 134, 255;
    --hover-color: #5e42cd;
    --hover-color-rgb: 50, 48, 108;
}
