:root {
    --main-color: #ffae00;
    --main-color-rgb: 255, 174, 0;
    --accent-color: #faea8f;
    --accent-color-rgb: 250, 234, 143;
    --hover-color: #cd930c;
    --hover-color-rgb: 179, 124, 0;
}