body {
    background-color: #303030;
    color: #E0E0E0;
}

body>header {
    background-color: #222;
}

svg .text-color {
    fill: #E0E0E0;
}

.split-header>h2 .header-subtitle {
    color: #A9A9A9;
}

.subscription,
.subscription-form,
.subscription-modal,
.account-section,
.avatar-select,
.logo-search,
.icon-search,
.dropdown-content,
.sort-options,
.statistic,
.graph,
.filtermenu-content,
.subscription-main .actions,
.calendar {
    background-color: #222;
    border: 1px solid #333;
    box-shadow: 0 2px 5px rgba(120, 120, 120, 0.1);
}

.dropbtn {
    color: #E0E0E0E0;
}

.dropdown-content a {
    color: #E0E0E0;
}

.dropdown-content a:hover {
    background-color: #333333;
}

.filtermenu-content .filter-item:hover,
.filtermenu-content .filter-title:hover {
    background-color: #333333;
}

.subscription-form h3,
.subscription-modal h3 {
    color: #FFF;
}

.subscription.inactive {
    background-color: rgba(24, 24, 24, 0.3);
    color: rgba(200, 200, 200, 0.6);
    box-shadow: 0 2px 5px rgba(50, 50, 50, 0.1);
}

.subscription-main .actions {
    color: #E0E0E0
}

.subscription-main .actions>li {
    border-bottom: 1px solid #555;
    border-color: #666;
}

.subscription-main .actions>li:hover {
    background-color: #333;
}

.subscription-main .actions>li:last-of-type {
    border: none;
}

.close-form {
    color: #EEE;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="number"],
select {
    background-color: #555;
    border: 1px solid #666;
    color: #E0E0E0;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="password"]::placeholder,
input[type="date"]::placeholder,
input[type="number"]::placeholder,
select::placeholder {
    color: #BBB;
}

input[type="text"]:disabled,
input[type="email"]:disabled,
input[type="password"]:disabled,
input[type="date"]:disabled,
input[type="number"]:disabled,
select:disabled {
    background-color: #999;
    border-color: #666;
    cursor: not-allowed;
}

button.secondary-button,
button.button.secondary-button,
input[type="button"].secondary-button {
    background-color: #222;
}

button.button.secondary-button:hover,
button.secondary-button:hover,
input[type="button"].secondary-button:hover {
    background-color: #111;
}

input[type="color"] {
    background-color: #F2F2F2;
}

textarea {
    background-color: #555;
    border: 1px solid #666;
    color: #E0E0E0;
}

.avatar-select .avatar-list .remove-avatar {
    background-color: #222;
}

.avatar-select .avatar-list>img,
.avatar-select .avatar-list .avatar-container>img {
    border: 1px solid #999;
}

.avatar-select .avatar-list>img:hover,
.avatar-select .avatar-list .avatar-container>img:hover {
    border: 1px solid #EEE;
}

.avatar-select .avatar-list .remove-avatar:hover {
    background-color: #666;
}

.account-notification-section-header:hover {
    background-color: #444;
}

.toast {
    border: 1px solid #333;
    background: #222;
    box-shadow: 0 6px 20px -5px rgba(255, 255, 255, 0.1);
}

.toast .close-error {
    color: #EEE;
}

.toast-content .message .text.text-1 {
    color: #BBB;
}

.toast-content .message .text {
    color: #999;
}

.logo-preview:after {
    color: var(--main-color);
}

.sort-options>ul>li {
    border-bottom: 1px solid #555;
    color: #DDD;
}

.sort-options>ul>li:hover {
    background-color: #444;
}

.payment-name {
    color: #FFF;
}

.payments-list .payments-payment .delete-payment-method {
    color: #FFF;
}

.calendar .calendar-body .calendar-cell .calendar-cell-header {
    background-color: #111;
}

.calendar .calendar-body .calendar-cell {
    border-right: 1px solid #111;
}

button.dark-theme-button {
    color: #E0E0E0;
}

button.dark-theme-button:hover {
    background-color: #111;
}

.account-notifications-section {
    border: 1px solid #666;
}

input[type="checkbox"] + label::before,
input[type="radio"] + label::before {
    background: #555;
    border: 1px solid #666;
}

input[type="checkbox"]:disabled + label::before,
input[type="radio"]:disabled + label::before {
    background-color: #333;
    border-color: #222;
    cursor: not-allowed;
}

input {
    color-scheme: dark;
}

.update-banner {
    color: #FFF;
}