body {
  font-family: Barlow, 'Helvetica Neue', Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  color: #202020;
}

body.no-scroll {
  overflow-y: hidden;
}

input,
button,
select,
textarea {
  font-family: Barlow, 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 400;
}

@media (max-width: 768px) {
  body.no-scroll section.contain {
    display: none;
  }
}

a:hover>i {
  color: var(--hover-color);
}

h2,
h3 {
  font-weight: 500;
}

.contain {
  width: 100%;
  max-width: 970px;
  margin: 0px auto;
  box-sizing: border-box;
}

.error-box {
  padding: 20px 16px;
  background-color: rgba(var(--error-color-rgb), 0.3);
  border: 1px solid var(--error-color);
  border-radius: 8px;
  margin-bottom: 20px;
  font-size: 16px;
}

.error-box .error-message i {
  color: var(--error-color);
  margin-right: 10px;
}

.split-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.split-header h2 {
  margin-right: 20px;
}

.split-header>h2 .header-subtitle {
  font-size: 22px;
  font-weight: 400;
  color: #666666;
  margin-left: 10px;
}

@media (max-width: 768px) {
  .contain.settings {
    padding: 20px 0px;
  }

  .split-header>h2 .header-subtitle {
    margin-left: 0px;
    font-size: 18px;
  }
}

body>header {
  border-bottom: 7px solid var(--main-color);
  background-color: white;
}

body>header>.contain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

header .logo .logo-image {
  height: 50px;
  width: 134px;
  margin-right: 10px;
}

header .logo .logo-image svg {
  height: 50px;
  width: 134px;
}

.button-icon {
  width: 16px;
  height: 16px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn:after {
  content: " ▼";
}

.dropbtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  background-color: transparent;
  color: #202020;
  padding: 7px 12px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
}

.dropbtn>img {
  width: 35px;
  height: 35px;
  object-fit: cover;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0px;
  background-color: #fff;
  border: 1px solid #eee;
  min-width: 130px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 5;
  width: max-content;
  border-top: none;
  border-radius: 8px;
}

.dropdown-content a {
  color: black;
  padding: 14px 18px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.dropdown-content a:hover {
  background-color: #f9f9f9;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media (max-width: 768px) {
  .dropdown:hover .dropdown-content {
    display: none;
  }

  .dropdown.is-open .dropdown-content {
    display: block !important;
  }
}

main>.contain {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

@media (max-width: 768px) {
  .main>.contain {
    padding: 0px 10px;
  }
}

.main-actions {
  margin: 0px 0px 20px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 16px;
  flex-wrap: wrap;
  position: relative;
}

.main-actions.hidden {
  display: none;
}

@media (max-width: 768px) {
  .main-actions {
    justify-content: space-between;
    flex-direction: column-reverse;
  }
}

.button {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  color: #fff;
  border: 1px solid var(--main-color);
  background-color: var(--main-color);
  padding: 15px 30px;
  font-size: 1rem;
  border-radius: 8px;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  text-decoration: none;
}

.button:hover {
  background-color: var(--hover-color);
  border-color: var(--hover-color);
}

.button.thin {
  padding: 14px 20px;
}

.button.tiny,
.button-secondary.tiny {
  padding: 7px 14px;
  font-size: 12px;
}

button:hover svg .main-color {
  fill: var(--hover-color);
}

.actions li:hover svg .main-color {
  fill: var(--hover-color);
}

.image-button:hover svg .main-color {
  fill: var(--hover-color);
}

.top-actions {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  width: auto;
}

.top-actions .search {
  flex-grow: 1;
}

.top-actions>.search>.search-icon {
  float: right;
  right: 15px;
  margin-top: -35px;
  position: relative;
  z-index: 2;
  color: var(--main-color);
  font-size: 20px;
}

.rtl .top-actions>.search>.search-icon {
  float: left;
  right: -15px;
}

.subscriptions {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  font-size: 17px;
}

.subscription {
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  gap: 12px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 12px 15px;
  border-radius: 16px;
  cursor: pointer;
}

.subscription.hide {
  display: none;
}

.subscription.inactive {
  background-color: rgba(255, 255, 255, 0.6);
  color: rgba(100, 100, 100, 0.6);
  box-shadow: 0 2px 5px rgba(100, 100, 100, 0.1);
}

.subscription.inactive span.price {
  text-decoration: line-through;
}

.subscription-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  position: relative;
}

.subscription-main .actions-expand {
  font-size: 21px;
  padding: 8px 16px;
  color: var(--main-color);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.subscription-main .actions-expand:hover {
  color: var(--hover-color);
}

.subscription-main .actions {
  display: none;
  position: absolute;
  right: -16px;
  top: 60px;
  z-index: 2;
  flex-direction: column;
  color: #202020;
  background-color: #FFFFFF;
  border: 1px solid #eee;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 0px;
  margin: 0px;
}

.subscription-main .actions.is-open {
  display: flex;
}

.subscription-main .actions>li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 14px 35px 14px 18px;
  gap: 12px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.subscription-main .actions>li:hover {
  background-color: #f9f9f9;
}

.subscription-main .actions>li>i {
  color: var(--main-color);
}

.subscription-main .actions>li:hover>i {
  color: var(--hover-color);
}

.subscription-secondary {
  display: none;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  padding: 6px 5px;
  overflow: hidden;
}

.subscription-notes {
  display: none;
  flex-direction: row;
  padding: 6px 5px;
  overflow: hidden;
}

.subscription-main .actions svg {
  width: 32px;
  height: 32px;
}

.subscription-secondary svg,
.subscription-notes svg {
  width: 20px;
  height: 20px;
}

.subscription-main>span,
.subscription-secondary>span {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  margin: 0px;
}

.subscription .logo {
  flex-basis: 17%;
}

.subscription .logo img {
  width: 100%;
  height: 100%;
  max-height: 42px;
  object-fit: contain;
  min-width: 32px;
}

.subscription .logo svg {
  max-width: 100%;
  height: 42px;
}

.subscription .name {
  flex-basis: 25%;
  font-weight: 600;
}

.subscription .cycle {
  flex-basis: 16%;
  flex-grow: 1;
}

.subscription .next {
  flex-basis: 16%;
  flex-grow: 1;
}

.subscription .price {
  flex-basis: 12%;
  justify-content: flex-start;
}

.subscription .price img {
  width: 45px;
  height: 30px;
  aspect-ratio: 3 / 2;
  object-fit: contain;
  margin-right: 12px;
}

.rtl .subscription .price img {
  margin-right: 0px;
  margin-left: 12px;

}

.subscription .actions {
  flex-basis: auto;
}

.subscription .actions img {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.subscription-secondary>.name {
  display: none;
  justify-content: flex-start;
  flex-basis: 33%;
}

.subscription-secondary>span {
  justify-content: flex-start;
  flex-basis: 33%;
  gap: 10px;
}

.subscription-secondary>.url {
  flex-basis: 20px;
  margin-left: auto;
  cursor: pointer;
}

.rtl .subscription-secondary>.url {
  margin-left: 0px;
  margin-right: auto;
}

.subscription-notes>span {
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 10px;
}

@media (max-width: 768px) {
  .subscription-main>.name {
    display: none;
  }

  .subscription-secondary>.name {
    display: flex;
  }

  .subscription-secondary>span {
    flex-grow: 1;
    flex-shrink: 1;
    font-size: 14px;
  }
}

@media (max-width: 375px) {
  .subscription-main>.cycle {
    display: none;
  }
}

.subscription.is-open .subscription-secondary,
.subscription.is-open .subscription-notes {
  display: flex;
}

.subscription-secondary img,
.subscription-notes img {
  height: 20px;
}

.subscription-secondary .url img {
  margin-right: 0px;
  ;
}

.empty-page,
.no-matching-subscriptions {
  display: block;
  max-width: 90%;
  margin: auto;
  text-align: center;
  font-size: 20px;
}

.empty-page>img,
.no-matching-subscriptions>img {
  max-width: 100%;
}

.no-matching-subscriptions>img {
  margin-top: 30px;
}

.empty-page>p {
  margin: 5px 0px 40px 0px;
}

.no-matching-subscriptions>p {
  margin: 30px 0px 40px 0px;
}

.empty-page>button,
.no-matching-subscriptions>button {
  margin: 0px auto;
}

.account-section {
  background-color: #FFFFFF;
  border: 1px solid #eee;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}

.account-section header h2 {
  margin-top: 0px;
  margin-bottom: 34px;
}

.account-section header h2.second-header {
  margin-top: 34px;
}

.account-section+.account-section {
  margin-top: 34px;
}

.account-section .account-settings-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.account-section .account-settings-list .form-group-inline {
  margin-bottom: 0px;
}

.account-section .account-settings-theme h3 {
  margin-bottom: 24px;
}

.user-form {
  display: flex;
  flex-direction: column;
}

.user-form .fields {
  display: flex;
  flex-direction: row;
  gap: 34px;
}

@media (max-width: 768px) {
  .user-form .fields {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .grow {
    width: 100%;
  }
}

header #avatar {
  border-radius: 50%;
}

.user-form .user-avatar {
  position: relative;
}

.user-form .user-avatar>img {
  cursor: pointer;
  width: 80px;
  height: 80px;
  object-fit: cover;
  max-width: 80px;
  border-radius: 50%;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.user-form .user-avatar .edit-avatar {
  display: none;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 39px;
  cursor: pointer;
  color: #FFFFFF;
  font-size: 30px;
}

.user-form .user-avatar:hover>.edit-avatar {
  display: flex;
}

@media (max-width: 768px) {
  .user-form .user-avatar:hover>.edit-avatar {
    display: none;
  }
}

.avatar-select {
  display: none;
  background-color: white;
  border: 1px solid #eee;
  position: absolute;
  padding: 20px;
  box-sizing: border-box;
  width: 336px;
  max-width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 3;
}

.avatar-option {
  border-radius: 50%;
}

@media (max-width: 768px) {
  .avatar-select {
    left: 50%;
    transform: translateX(-50%);
  }
}

.avatar-select.is-open {
  display: block;
}

.avatar-select .avatar-list {
  display: flex;
  gap: 18px;
  flex-wrap: wrap;
}

.avatar-select .avatar-list>img,
.avatar-select .avatar-list .avatar-container>img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  cursor: pointer;
  border: 1px solid #ccc;
  box-sizing: border-box
}

.avatar-select .avatar-list>img:hover,
.avatar-select .avatar-list .avatar-container>img:hover {
  border: 1px solid #222;
}

.avatar-select .avatar-list .avatar-container {
  position: relative;
  height: 60px;
}

.avatar-select label.add-avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border: 1px solid var(--main-color);
  border-radius: 50%;
  cursor: pointer;
  margin: 0px;
  box-sizing: border-box;
  color: var(--main-color);
}

.avatar-select label.add-avatar:hover {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.avatar-select .avatar-list .remove-avatar {
  position: absolute;
  top: -4px;
  right: -11px;
  background-color: #FFF;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  width: 25px;
  height: 25px;
  box-sizing: border-box;
  font-size: 8px;
}

.avatar-select .avatar-list .remove-avatar:hover {
  background-color: #eee;
}

.user-form .fields .grow {
  flex: 1;
}

.user-form .buttons,
.account-members .buttons,
.account-currencies .buttons,
.account-fixer .buttons,
.account-categories .buttons,
.account-notifications .buttons,
.admin-form .buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.admin-form hr {
  margin: 20px 0px;
  color: var(--main-color);
  border-color: var(--main-color);
  background-color: var(--main-color);
}

.account-notifications-section {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 10px;
  overflow: hidden;
}

.account-notification-section-header {
  padding: 16px;
  cursor: pointer;
}

.account-notification-section-header:hover {
  background-color: #EEE;
}

.account-notification-section-header h3 {
  margin: 0px;
}

.account-notification-section-header h3 i {
  margin-right: 10px;
}

.account-notification-section-settings {
  max-height: 0px;
  overflow: hidden;
  /* Hide content that goes beyond the height */
  transition: max-height 0.3s ease-in-out;
  /* Animate max-height changes */
  padding: 0px 16px;
}

.account-notification-section-settings.is-open {
  max-height: 1000px;
  /* Set to a value larger than the content's natural height */
}

.account-notification-section-settings>div:first-of-type {
  margin-top: 20px;
}

.account-notification-section-settings>div:last-of-type {
  margin-bottom: 20px;
}

.account-notifications .buttons {
  gap: 15px;
}

.image-button {
  box-sizing: border-box;
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0px;
}

.image-button>i {
  color: var(--hover-color);
  font-size: 28px;
  padding: 2px;
}

.image-button>svg {
  width: 32px;
  height: 32px;
}

.image-button.disabled>img,
.image-button.disabled>svg {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.image-button.success>img {
  filter: hue-rotate(262deg);
}

.image-button.error>img {
  filter: hue-rotate(141deg);
}

.image-button.small>img {
  width: 25px;
  height: 25px;
  object-fit: contain;
}

.image-button.medium>img {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

.payments-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.payments-list .payments-payment {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  background-color: var(--accent-color);
  padding: 6px 12px;
  border-radius: 8px;
  transition: filter 300ms;
}

.payments-list .payments-payment[data-enabled="0"] {
  filter: grayscale(100%);
}

.payments-list .payments-payment[data-in-use="yes"] {
  cursor: not-allowed;
}

.payments-list .payments-payment .drag-icon {
  height: 20px;
  width: 14px;
  font-size: 14px;
}

.payments-list .payments-payment>img {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

.payments-list .payments-payment>.payment-name {
  cursor: text;
}

.payments-list .payments-payment .delete-payment-method {
  padding: 5px;
  font-weight: bold;
  color: #202020;
}

.credits-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  line-break: anywhere;
}

.credits-list>p {
  margin: 0px;
  font-size: 18px;
}

.updates-list>p {
  margin: 0px;
}

.settings-notes {
  margin-bottom: 1.5em;
}

.settings-notes>p {
  margin-bottom: 0px;
}

.credits-list>p>span,
.updates-list>p>span,
.settings-notes>p>span {
  color: #AAA;
  font-size: 14px;
}

.credits-list>p>span,
.updates-list>p>span {
  font-size: 16px;
}

.credits-list>p>span>a,
.updates-list>p>span>a,
.settings-notes>p>span>a {
  margin-left: 5px;
  font-size: 13px;
  color: var(--accent-color);
}

.rtl .credits-list>p>span>a,
.rtl .updates-list>p>span>a,
.rtl .settings-notes>p>span>a {
  margin-left: 0px;
  margin-right: 5px;
}

.credits-list>p>span>a:visited,
.updates-list>p>span>a:visited,
.settings-notes>p>span>a:visited {
  color: var(--accent-color);
}

.settings-notes>p>i,
.account-section .notes>p>i {
  color: var(--main-color);
  margin-right: 5px;
}

.rtl .settings-notes>p>i,
.rtl .account-section .notes>p>i {
  margin-right: 0px;
  margin-left: 5px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group-inline {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  gap: 15px;
  box-sizing: border-box;
}

.form-group .inline {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  justify-content: space-between;
}

.form-group .inline .split33 {
  flex-basis: 33.34%;
}

.form-group .inline .split66 {
  flex-basis: 66.66%;
}

.form-group .inline .split50 {
  flex-basis: 50%;
}

.inline-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .form-group .inline .mobile-split-50 {
    flex-basis: 50%;
  }

  select#frequency {
    width: 100px;
    padding: 0px 10px;
  }
}

label {
  display: block;
  margin-bottom: 5px;
}

.form-group-inline label {
  font-size: 16px;
  margin-bottom: 0px;
  margin-left: 0px;
  cursor: pointer;
}

input {
  box-sizing: border-box;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="number"],
select {
  width: 100%;
  padding: 0px 15px;
  height: 50px;
  font-size: 16px;
  background-color: #FFFFFF;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  color: #202020;
  box-sizing: border-box;
}

input[type="color"] {
  height: 46px;
  width: 46px;
  background-color: #222;
  border: 1px solid var(--hover-color);
  outline: none;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 16px;
  position: relative;
  border-radius: 5px;
}

.one-third {
  max-width: 33%;
}

select {
  cursor: pointer;
  height: 50px;
}

input[type="date"] {
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 85%;
  box-sizing: border-box;
}

input[type="text"].short {
  flex-basis: 55px;
  min-width: 55px;
  text-align: center;
}

input[type="submit"],
input[type="button"],
button.button {
  padding: 15px 30px;
  font-size: 16px;
  background-color: var(--main-color);
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-sizing: border-box;
  border: 2px solid var(--main-color);
}

input[type="submit"].thin,
input[type="button"].thin,
button.button.thin {
  padding: 13px 30px;
}

input[type="button"].secondary-button,
button.button.secondary-button {
  background-color: #FFFFFF;
  color: var(--main-color);
}

input[type="button"].secondary-button:hover,
button.button.secondary-button:hover {
  background-color: #EEEEEE;
  color: var(--hover-color);
  border-color: var(--hover-color);
}

input[type="button"].warning-button {
  background-color: #f45a40;
  border-color: #f45a40;
}

input[type="button"].warning-button:hover,
button.button.warning-button:hover {
  background-color: #ef8674;
  border-color: #ef8674;
}

input[type="submit"]:hover,
input[type="button"]:hover,
button.button:hover {
  background-color: var(--hover-color);
  border-color: var(--hover-color);
}

input[type="submit"]:disabled,
input[type="button"]:disabled,
button.button:disabled {
  background-color: #ccc;
  border-color: #ccc;
}

input[type="button"].left button.button.left {
  margin-right: auto;
}

input[type="checkbox"] {
  cursor: pointer;
  width: 25px;
  height: 25px;
  padding: 0px;
  margin: 0px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: grid;
  place-content: center;
}

button.disabled {
  cursor: not-allowed;
}

input[type="text"]:disabled {
  background-color: #f5f5f5;
  border-color: #f5f5f5;
  cursor: not-allowed;
}

textarea {
  font-size: 16px;
  background-color: #FFFFFF;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 5px 14px;
  color: #202020;
  width: 100%;
  height: 245px;
}

textarea:focus {
  outline: none;
}

textarea.thin {
  height: 80px;
}

@media (max-width: 768px) {
  input[type="checkbox"] {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
  }
}

.form-icon-search {
  position: relative;
}

.logo-search,
.icon-search {
  position: absolute;
  width: 165px;
  height: 298px;
  top: 130px;
  right: 32px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px;
  border: 1px solid #EEEEEE;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: white;
  box-sizing: border-box;
  display: none;
}

.icon-search {
  width: 156px;
  height: 224px;
  top: 50px;
  right: 0px;
}

.logo-search.is-open,
.icon-search.is-open {
  display: block;
}

.logo-search>header,
.icon-search>header {
  padding: 0px 5px 5px;
  border-bottom: 1px solid #CCC;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.icon-search>header>span {
  margin-left: auto;
}

.logo-search .close-logo-search,
.icon-search .close-icon-search {
  cursor: pointer;
}

.logo-search img,
.icon-search img {
  max-width: 100%;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  padding: 10px 0px;
}

.icon-search img {
  padding: 8px 0px;
  aspect-ratio: 16 / 5;
  object-fit: contain;
}

.logo-search img:last-of-type,
.icon-search img:last-of-type {
  border-bottom: none;
  padding-bottom: 0px;
}

.capitalize {
  text-transform: capitalize;
}

button.dark-theme-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 18px !important;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px 20px 14px;
  background-color: transparent;
  color: #202020;
  cursor: pointer;
  flex-grow: 1;
}

button.dark-theme-button:hover {
  background-color: #EEE;
}

button.dark-theme-button.selected {
  border: 1px solid var(--main-color);
}

button.dark-theme-button i {
  margin-right: 12px;
}

.error {
  display: block;
  color: #f45a40;
}

.success {
  display: block;
  color: #188823;
}

.user-error,
.user-success {
  display: none;
}

.user-error.show,
.user-success.show {
  display: block;
}

.subscription-form,
.subscription-modal {
  background-color: #FFFFFF;
  padding: 22px;
  border: 1px solid #EEEEEE;
  border-radius: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 3;
  max-width: 800px;
  max-height: calc(100vh - 34px);
  overflow: auto;
  overflow-y: auto;
  width: 90%;
  display: none;
}

.subscription-form.is-open,
.subscription-modal.is-open {
  display: block;
}

.subscription-form h3,
.subscription-modal h3 {
  border-bottom: 1px solid var(--main-color);
  padding-bottom: 15px;
  margin-top: 0px;
}

.subscription-form .buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 16px;
}

@media (max-width: 768px) {

  .subscription-form,
  .subscription-modal {
    width: 100%;
    max-height: 100vh;
  }

  .subscription-form .buttons input {
    flex: 1;
  }
}

.logo-preview {
  padding: 2px 0px;
  height: 49px;
  box-sizing: border-box;
  aspect-ratio: 3.55/1;
  display: block;
  cursor: pointer;
  overflow: hidden;
}

.logo-preview:after {
  content: "Upload Logo";
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: var(--main-color);
  font-size: 16px;
  text-align: center;
}

.logo-preview:hover::after,
.icon-preview:hover::after {
  color: var(--hover-color);
}

.logo-preview img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: none;
}

.icon-preview {
  padding: 2px 0px;
  height: 49px;
  box-sizing: border-box;
  aspect-ratio: 3/2;
  display: block;
  cursor: pointer;
  overflow: hidden;
  flex-shrink: 0;
}

.icon-preview:after {
  content: "Upload Icon";
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: var(--main-color);
  font-size: 16px;
  text-align: center;
}

.icon-preview img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: none;
}

.hidden-input {
  display: none;
}

.close-form {
  display: block;
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  color: gray;
}

.rtl .close-form {
  right: auto;
  left: 15px;
}

.sort-container {
  position: relative;
}

.sort-options {
  position: absolute;
  color: #202020;
  font-size: 16px;
  background-color: #FFFFFF;
  border: 1px solid #EEEEEE;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  top: 52px;
  right: 0px;
  display: none;
  width: 144px;
  width: max-content;
  z-index: 2;
}

.rtl .sort-options {
  left: 0px;
  right: auto;
}

@media (max-width: 380px) {
  .sort-container {
    flex-grow: 1;
    max-width: 144px;
  }
}

.sort-options.is-open {
  display: block;
}

.sort-options>ul {
  padding: 0px;
  margin: 0px;
}

.sort-options>ul>li {
  position: relative;
  list-style: none;
  padding: 14px 35px 14px 18px;
  border-bottom: 1px solid #DDD;
  cursor: pointer;
}

.rtl .sort-options>ul>li {
  padding: 14px 18px 14px 35px;
}

.sort-options>ul>li:last-of-type {
  border-bottom: none;
}

.sort-options>ul>li:hover {
  background-color: #EEE;
}

.sort-options>ul>li.selected::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background-color: var(--main-color);
  -webkit-mask: url("../images/siteicons/svg/check.php") no-repeat center;
  mask: url("../images/siteicons/svg/check.php") no-repeat center;
  background-size: 100% 100%;
}

.rtl .sort-options>ul>li.selected {
  background-position: center left 10px;
}

.subscription-list-title {
  font-size: 18px;
  padding: 4px;
  font-weight: 500;
}


/* TOAST MESSAGE */

.toast {
  position: fixed;
  bottom: 25px;
  right: 30px;
  border-radius: 12px;
  border: 1px solid #eeeeee;
  background: #fff;
  padding: 20px 35px 20px 25px;
  box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transform: translateX(calc(100% + 30px));
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
  box-sizing: border-box;
  z-index: 5;
}

@media (max-width: 768px) {
  .toast {
    bottom: 0px;
    right: 0px;
    left: 0px;
    width: 100%;
  }
}

.toast.active {
  transform: translateX(0%);
}

.toast .toast-content {
  display: flex;
  align-items: center;
}

.toast-content .toast-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  min-width: 35px;
  color: #fff;
  font-size: 20px;
  border-radius: 50%;
}

.toast-content .toast-icon.error {
  background-color: var(--error-color);
}

.toast-content .toast-icon.success {
  background-color: var(--success-color);
}


.toast-content .message {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

.toast-content .message .text {
  font-size: 16px;
  font-weight: 400;
  color: #666666;
}

.toast-content .message .text.text-1 {
  font-weight: 600;
  color: #333;
}

.toast .close {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 5px;
  cursor: pointer;
  opacity: 0.7;
}

.toast .close:hover {
  opacity: 1;
}

.toast .progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;

}

.toast .progress:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.toast .progress.error:before {
  background-color: var(--error-color);
}

.toast .progress.success:before {
  background-color: var(--success-color);
}

.progress.active:before {
  animation: progress 5s linear forwards;
}

@keyframes progress {
  100% {
    right: 100%;
  }
}

/* TOAST END */

.statistics {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.statistic {
  background-color: #FFFFFF;
  border: 1px solid #EEEEEE;
  border-radius: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px 24px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 31%;
  flex-shrink: 0;
  box-sizing: border-box;
}

.statistic.short {
  padding-bottom: 15px;
}

.statistic.empty {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

@media (max-width: 768px) {
  .statistic {
    flex-basis: 100%;
  }

  .statistic.empty {
    display: none;
  }
}

.statistic>span {
  font-size: 42px;
  color: var(--main-color);
}

.statistic>.title {
  margin-top: 5px;
  text-align: center;
}

.statistic>.subtitle {
  font-size: 25px;
  color: var(--accent-color);
  margin-top: 10px;
  text-align: center;
}

.statistic>.subtitle>img {
  width: 100px;
  max-height: 40px;
  object-fit: contain;
}

.graphs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.graph {
  background-color: #FFFFFF;
  border: 1px solid #EEEEEE;
  border-radius: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  flex-basis: 48%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  box-sizing: border-box;
}

.graph>header {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 15px;
  text-align: center;
}

.graph>header>.sub-header {
  font-size: 13px;
  font-weight: normal;
}

@media (max-width: 768px) {
  .graph {
    flex-basis: 100%;
    max-width: 100%;
  }
}

/* Settings sort category */

.sortable-list {
  margin: 0px;
  padding: 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.drag-icon {
  width: 28px;
  height: 50px;
  cursor: grab;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.sortable-list .sortable-ghost {
  border-radius: 8px;
  background-color: rgba(var(--accent-color-rgb), 0.6);
  border: 1px solid var(--accent-color);
  padding: 5px;
}

/* Fitler dropdown */

.filtermenu {
  position: relative;
  display: inline-block;
}

.filtermenu-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  left: auto;
  right: 0;
  width: 220px;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 3;
  overflow: hidden;
  margin-top: 6px;
}

.rtl .filtermenu-content {
  left: 0;
  right: auto;

}

@media (max-width: 354px) {
  .on-dashboard .filtermenu-content {
    right: -94px;
  }
}

.filtermenu-content.is-open {
  display: block;
}

.filtermenu-content .filter-title {
  padding: 14px 18px;
  text-decoration: none;
  display: block;
  cursor: pointer;
  font-weight: 500;
  border-bottom: 1px solid #DDD;
  user-select: none;
}

.filtermenu-content .filtermenu-submenu.hide {
  display: none;
}

.filtermenu-content .filtermenu-submenu:last-of-type .filter-title {
  border-bottom: none;
}

.filtermenu-content .filtermenu-submenu:last-of-type .filter-item:first-of-type {
  border-top: 1px solid #DDD;
}

.filtermenu-content .filtermenu-submenu:last-of-type .filter-item:last-of-type {
  border-bottom: none;
}

.filtermenu-content .filter-item {
  position: relative;
  padding: 14px 24px;
  text-decoration: none;
  display: block;
  cursor: pointer;
  border-bottom: 1px solid #DDD;
  user-select: none;
  font-size: 16px;
}

.filtermenu-content .filter-item.selected::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  /* Explicitly set the size */
  height: 16px;
  /* Explicitly set the size */
  background-color: var(--main-color);
  /* Set your desired color here */
  -webkit-mask: url("../images/siteicons/svg/check.php") no-repeat center;
  mask: url("../images/siteicons/svg/check.php") no-repeat center;
  background-size: 100% 100%;
  /* Ensure the icon scales correctly */
}

.rtl .filtermenu-content .filter-item.selected {
  background-position: center left 10px;
}

.filtermenu-content .filter-title.filter-clear {
  color: var(--hover-color);
  font-weight: normal;
  border-bottom: none;
}

.filtermenu-content .filter-title.filter-clear>i {
  margin-right: 8px;
}

.rtl .filtermenu-content .filter-title.filter-clear>i {
  margin-left: 8px;
  margin-right: 0px;
}

.filtermenu-content .filter-item:hover,
.filtermenu-content .filter-title:hover {
  background-color: #f1f1f1;
}

.filtermenu-submenu-content {
  display: none;
}

.filtermenu-submenu-content.is-open {
  display: block;
}

/* Theme Selector */

.theme {
  flex-grow: 1;
}

.theme-preview {
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px 15px 20px 10px;
  display: flex;
  gap: 15px;
  flex-direction: row;
  align-items: center;
}

.theme-preview.is-selected {
  border: 1px solid var(--main-color);
}

.theme-preview:hover {
  background-color: rgba(var(--accent-color-rgb), 0.6);
}

.theme-preview .main-color,
.theme-preview .accent-color,
.theme-preview .hover-color {
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 1px solid #FFF;
  box-sizing: border-box;
}

.theme-preview.blue .main-color {
  background-color: #007bff;
}

.theme-preview.blue .accent-color {
  background-color: #8fbffa;
}

.theme-preview.blue .hover-color {
  background-color: #0056b3;
}

.theme-preview.green .main-color {
  background-color: #6B8E23;
}

.theme-preview.green .accent-color {
  background-color: #9ACD32;
}

.theme-preview.green .hover-color {
  background-color: #556B2F;
}

.theme-preview.red .main-color {
  background-color: #f45a40;
}

.theme-preview.red .accent-color {
  background-color: #f79988;
}

.theme-preview.red .hover-color {
  background-color: #c73f29;
}

.theme-preview.yellow .main-color {
  background-color: #ffae00;
}

.theme-preview.yellow .accent-color {
  background-color: #faea8f;
}

.theme-preview.yellow .hover-color {
  background-color: #cd930c;
}

.theme-preview.purple .main-color {
  background-color: #6d4aff;
}

.theme-preview.purple .accent-color {
  background-color: #b086ff;
}

.theme-preview.purple .hover-color {
  background-color: #5e42cd;
}

.custom-colors {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.color-picker {
  flex-shrink: 0;
}

.color-picker::before {
  color: var(--hover-color);
  position: absolute;
  top: -5px;
  right: -5px;
  border: 1px solid;
  border-radius: 15px;
  background-color: white;
  padding: 4px;
}

.color-picker-button:hover label {
  color: var(--hover-color);
}

.wrap {
  flex-wrap: wrap;
}

.user-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.user-list>div {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: wrap;
}

.user-list .user-list-row {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

@media (max-width: 768px) {
  .user-list .user-list-row {
    flex-direction: column;
  }
}

.user-list .user-list-row:last-of-type {
  flex-grow: 0;
}

.user-list .user-list-row>div {
  display: flex;
  flex-basis: 50%;
  gap: 12px;
  align-items: baseline;
}

.user-list a {
  color: var(--main-color);
  text-decoration: none;
}

.user-list a:hover {
  color: var(--hover-color);
}

.user-list .user-list-icon {
  width: 16px;
  text-align: center;
}

.calendar-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  font-size: 18px;
}

.calendar {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #FFFFFF;
  border-collapse: collapse;
  border-radius: 16px;
  box-shadow: 2px 5px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.calendar .calendar-header,
.calendar .calendar-row {
  display: flex;
}

.calendar .calendar-header {
  border-bottom: 6px solid var(--main-color);
}

.calendar .calendar-row:last-of-type {
  border-bottom: none;
}

.calendar .calendar-cell {
  display: flex;
  flex: 0 0 14.2857%;
  flex-direction: column;
  gap: 5px;
  overflow: hidden;
}

.calendar .calendar-header .calendar-cell {
  padding: 26px 0px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  box-sizing: border-box;
  min-height: 45px;
}

@media (max-width: 768px) {
  .calendar .calendar-header .calendar-cell {
    font-size: 12px;
  }
}

.calendar .calendar-body .calendar-cell {
  font-size: 13px;
  text-align: center;
  box-sizing: border-box;
  min-height: 92px;
  border-right: 1px solid #EEE;
}

.calendar .calendar-body .calendar-cell:last-of-type {
  border-right: none;
}

.calendar .calendar-body .calendar-cell .calendar-cell-header {
  background-color: #EEE;
  padding: 5px 0px;
}

.calendar .calendar-body .calendar-cell .calendar-cell-content {
  padding: 6px 0px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  box-sizing: border-box;
  padding: 0px 6px;
}

@media (max-width: 768px) {
  .calendar .calendar-body .calendar-cell .calendar-cell-content {
    padding: 0px 1px;
  }
}

.calendar .calendar-subscription-title {
  border: 1px solid var(--main-color);
  border-radius: 8px;
  padding: 4px 2px;
  cursor: pointer;
  box-sizing: border-box;
  white-space: normal;
  overflow-wrap: break-word;
  word-wrap: break-word;
  user-select: none;
}

.calendar .day {
  font-size: 14px;
}

.calendar .today .day {
  color: var(--main-color);
  font-weight: 700;
}

.subscription-modal {
  max-width: 400px;
}

.subscription-modal .modal-header {
  position: relative;
}

.subscription-modal .close-modal {
  position: absolute;
  top: -5px;
  right: -5px;
  padding: 5px;
  font-size: 20px;
  cursor: pointer;
}

.subscription-modal img {
  max-width: 135px;
}

.grow {
  flex-grow: 1;
}

@media (max-width: 768px) {
  .mobile-grow {
    flex-grow: 1;
  }
}

.bold {
  font-weight: 700;
}

/* Checkbox */
input[type="checkbox"] {
  opacity: 0;
  position: absolute;
}

input[type="checkbox"]+label {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  display: inline-block;
  line-height: 22px;
}

input[type="checkbox"]+label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 22px;
  height: 22px;
  background: #fafafa;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type="checkbox"]:focus+label::before {
  border-color: var(--main-color);
  box-shadow: 0 0 0 2px rgba(--main-color-rgb, 0.5);
}

input[type="checkbox"]:disabled+label::before {
  background-color: #F5F5F5;
  border-color: #F5F5F5;
  cursor: not-allowed;
}

input[type="checkbox"]:checked+label::after {
  content: '';
  position: absolute;
  left: 8px;
  top: 2px;
  width: 4px;
  height: 12px;
  border: solid var(--main-color);
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
}

/* Radio */
input[type="radio"] {
  opacity: 0;
  position: absolute;
}

input[type="radio"]+label {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  display: flex;
  line-height: 22px;
}

input[type="radio"]+label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  background: #fafafa;
  border: 1px solid #ccc;
  border-radius: 50%;
  box-sizing: border-box;
}

input[type="radio"]:focus+label::before {
  border-color: var(--main-color);
  box-shadow: 0 0 0 2px rgba(var(--main-color-rgb), 0.5);
}

input[type="radio"]:disabled+label::before {
  background-color: #F5F5F5;
  border-color: #F5F5F5;
  cursor: not-allowed;
}

input[type="radio"]:checked+label::after {
  content: '';
  position: absolute;
  left: 5px;
  top: 5px;
  width: 14px;
  height: 14px;
  background: var(--main-color);
  border-radius: 50%;
  box-sizing: border-box;
}

.theme input[type="radio"]+label {
  padding-left: 44px;
}

.theme input[type="radio"]+label::before {
  left: 11px;
  top: 20px;
}

.theme input[type="radio"]:checked+label::after {
  left: 16px;
  top: 25px;
}

.update-banner {
  padding: 15px 20px;
  background-color: var(--accent-color);
  border: 1px solid var(--main-color);
  border-radius: 12px;
  margin-bottom: 20px;
  text-align: center;
  color: #222;
}

.update-banner > span {
  font-weight: 500;
}